<!DOCTYPE html>
<html lang="en">
<head>

  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://jchamill.github.io/jquery-quiz/jquery.quiz-min.js"></script>
  <link href="../stylesheets/style.css" type="text/css" />
  </head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <div style="margin-top: 50px;">
    <% messages.forEach( m => { %>
      <div class="alert alert-warning" role="alert"><%= m %></div>
    <% }) %>
    <%- body %>
  </div>

<!-- </div>
<% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
<div> -->
</body>
</html>