<!DOCTYPE html>
<html lang="en">
<head>

  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://jchamill.github.io/jquery-quiz/jquery.quiz-min.js"></script>
  <link href="../stylesheets/style.css" type="text/css" />
  </head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if(!user) { %>
      <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
      </ul>
    <% } else { %>
      <h2>Hola <%= user.username %></h2>
    </br>
      <a href="/private">Ver a los simpson</a>
      <a href="/onlyme?id=<%= user._id %>">Onlyme</a>
      <a href="/auth/logout">Logout</a>
    <% } %>

    <%- body %>
</body>
</html>