<div>
  <h2><%= superData.name %> Comics</h2>
  <img src="<%= superData.thumbnail.path %>.<%= superData.thumbnail.extension %>" alt="" width="400">
  <h3><%= superData.description %></h3>
  </div>
  <hr>
<div>
  <ul>
    <% titles.forEach((ttl) => { %>
      <li>TITLE: <%= ttl.title %></li>
      <li>Number of pages: <%= ttl.pageCount %></li>
      <li>ISBN: <%= ttl.isbn %></li>
      <li>Format: <%= ttl.format %></li>
      <li>Price: <%= ttl.prices[0].price %></li>
      <li><%= ttl.description %></li>
      <img src="<%= ttl.thumbnail.path %>.<%= ttl.thumbnail.extension %>" alt="" width="200">
      <hr>
    <% }) %>
  </ul>
</div>