<div class="container">
    <form action="/editPost/<%= myPost._id %>" method="post" enctype="multipart/form-data" id="formLogin">
      <header id="headerLogin">Edit Post</header>
        <div>
          <label for="title" name="title" class="formLabel">Current Title <%= myPost.title %>:</label>
          <input type="text" name="title" class="form-control" placeholder="CURRENT TITLE: <%= myPost.title %>" style="max-width: 420px;
          margin: 0 auto;">
          <input type="hidden" name="currentTitle" class="form-control" value="<%= myPost.title %>">
          <input type="hidden" name="idUser" class="form-control" value="<%= user._id %>">
        </div>
        <div>
          <label for="content" class="formLabel">Edit Content:</label>
          <textarea type="text" name="content" class="form-control" placeholder="CURRENT CONTENT: <%= myPost.content %>" rows="4" cols="50" style="max-width: 420px;
              margin: 0 auto;"></textarea>
          <input type="hidden" name="currentContent" class="form-control" value="<%= myPost.content %>">
        </div>
        <div>
          <p>&nbsp;</p>
        </div>
        <div style="width: 100%; height: auto; max-width: 420px; margin: 0 auto;">
            <label for="imgUrl">New Post Image</label>
            <input type="file" name="image" class="form-control" placeholder="New image here">
            <input type="hidden" name="oldImage" class="form-control" value="<%= myPost.imgUrl %>">
        </div>
        <div>
          <input type="submit" value="Edit Post" class="formSubmit">
        </div>
    </form>
  </div>