<div class="superheroContainer">
  <div class="superheroContainerPadding" style="margin-right: 5%; margin-left: 5%;">
    <div class"row">
      <div class="col-sm-12">
        <h2 class="headerSuperhero" style="font-size: 3em; padding-bottom: 10px;"><strong><%= superData.name %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
          <img src="<%= superData.thumbnail.path %>.<%= superData.thumbnail.extension %>" alt="" width="400" class="superheroImg"/>
      </div>
      <div class="col-sm-6">
          <h1>Description:</h3>
          <h2 class="descriptionSuperhero"><%= superData.description %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <h2 class="superheroEvents">Main Events affecting <%= superData.name %>:</h2>
      </div>
    </div>
      <% evts.forEach((event) => { %>
        <div class="row" style="margin-top:20px;">
            <hr/ class="hrSeparator">
          <div class="col-sm-4">
              <img src="<%= event.thumbnail.path %>.<%= event.thumbnail.extension %>" alt=""  class="imgEvents"/>
          </div>
          <div class="col-sm-8">
                <p class="eventTitle"><%= event.title %></p>
                <p class="descriptionEvent"><%= event.description %></p>
          </div>
        </div>
      <% }) %>

    <div class="row">
      <div class="col-sm-12">
          <h2>Users Posts related to <%= superData.name %>:</h2>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
        <% postsSuper.forEach((psts) => { %>
        <div class="row">
            <div class="col-sm-3">
                <p style="font-size: 1em;"><%= psts.title %></p>
                <p class="eventTitle">
                    <img src="/uploads/<%= psts.imgUrl %>" alt="" style="width:100%; height: auto;" />
                </p>
            </div>
            <div class="col-sm-9">
                <p class="descriptionEvent">
                    <%= psts.content %>
                  </p>
            </div>
          </div>
          <% }) %>
</div>


